<main class="container" style="width: 650px;">
    <div class="jumbotron">
        <div class="center">
        <h1>Create Survey</h1>
        </div>
        <hr>  
        <div class="form-group">
            <label for=title>  Title</label>
            <input type="text" class="form-control"
            id="title"
            placeholder="Title"
            name="title" required>
        </div>  
        <!--
        <div class="form-group">
            <label for="dueDate">  Closing Time</label>
            <input type="date" class="form-control"
            id="dueDate"
            name="dueDate" required>
        </div>  -->
        <hr>  
            <form>
                <div class="form-group">
                    <label for="Q1">  Question 1</label>
                    <input type="text" class="form-control"
                    id="Q1"
                    placeholder="Enter your question"
                    name="Q1" required>
                </div>    
                
                <div class="form-group">
                    <label for="Q1">  Question 2</label>
                    <input type="text" class="form-control"
                    id="Q1"
                    placeholder="Enter your question"
                    name="Q2" >
                </div>  

                <div class="form-group">
                    <label for="Q1">  Question 3</label>
                    <input type="text" class="form-control"
                    id="Q3"
                    placeholder="Enter your question"
                    name="Q3" >
                </div>  

                <div class="form-group">
                    <label for="Q4">  Question 4</label>
                    <label for="Q4"></label>
                    <input type="text" class="form-control"
                    id="Q4"
                    placeholder="Enter your question"
                    name="Q4" >
                </div> 
                
                <div class="center">
                <button type="submit" class="btn btn-warning">Submit</button> 
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="button" class="btn btn-secondary">Cancel</button>
                    </div>
            </form>
    </div>
    </main>
